
h1 {
    color: black;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    font-size:30px;
   }

#name {
     color: black;
     font-family: "ＭＳ Ｐゴシック",sans-serif;
     font-size:20px;
      }

.detail {
        color: black;
        font-family: "ＭＳ Ｐゴシック",sans-serif;
        font-size:18px
        }

p.img img { width: 100%; }
